---
language: generic
# Use the new container infrastructure
sudo: required

env:
  - PHP_VERSION=7.1 SYMFONY_VERSION=3
  - PHP_VERSION=7.1 SYMFONY_VERSION=4
  - PHP_VERSION=7.2 SYMFONY_VERSION=3
  - PHP_VERSION=7.2 SYMFONY_VERSION=4
  - PHP_VERSION=7.3 SYMFONY_VERSION=4
  - PHP_VERSION=7.4 SYMFONY_VERSION=5

services:
  - docker

cache:
  directories:
    - $HOME/.composer

install:
  - cd $PHP_VERSION
  # Build image
  - sudo docker build . -t kibatic/symfony:$PHP_VERSION
  # Check installed php version
  - sudo docker run -it kibatic/symfony:$PHP_VERSION php --version | grep "PHP $PHP_VERSION"
  - sudo docker build -f tests/Dockerfile . -t kibatic/symfony-demo:$PHP_VERSION
  - export SYMFONY_DEMO_VERSION="v1.0.5"
  - if [ "$SYMFONY_VERSION" = "4" ]; then export SYMFONY_DEMO_VERSION="v1.4.4"; fi
  - if [ "$SYMFONY_VERSION" = "5" ]; then export SYMFONY_DEMO_VERSION="v1.5.0"; fi

script:
  - git clone https://github.com/symfony/symfony-demo symfony; cd symfony; git checkout $SYMFONY_DEMO_VERSION
  - sudo docker run --rm -v $(pwd):/var/www -v $HOME/.composer:/root/.composer kibatic/symfony-demo:$PHP_VERSION composer install --no-progress || true
  - sudo docker run --rm --name symfony -d -p 8001:80 -e SYMFONY_VERSION=$SYMFONY_VERSION -v $(pwd):/var/www kibatic/symfony-demo:$PHP_VERSION
  - sleep 10
  - sudo docker run --rm $( if [ "$SYMFONY_DEMO_VERSION" == "v1.0.5" ]; then printf %s "-e SYMFONY_PHPUNIT_VERSION=5.7.27"; fi; ) -e SYMFONY_DEPRECATIONS_HELPER=disabled -v $(pwd):/var/www kibatic/symfony-demo:$PHP_VERSION vendor/bin/simple-phpunit
  - curl -s localhost:8001 | grep -q "Symfony Demo application"
  - if [ "$SYMFONY_VERSION" = "4" ] || [ "$SYMFONY_VERSION" = "5" ]; then curl -s localhost:8001/_profiler/phpinfo | grep 'opcache.validate_timestamps</td><td class="v">On</td><td class="v">On</td>'; fi;
  - docker kill symfony
  - sudo docker run -e PERFORMANCE_OPTIM=true --rm --name symfony -d -p 8001:80 -e SYMFONY_VERSION=$SYMFONY_VERSION -v $(pwd):/var/www kibatic/symfony-demo:$PHP_VERSION
  - sleep 10
  - curl -s localhost:8001 | grep -q "Symfony Demo application"
  - if [ "$SYMFONY_VERSION" = "4" ] || [ "$SYMFONY_VERSION" = "5" ]; then curl -s localhost:8001/_profiler/phpinfo | grep 'opcache.validate_timestamps</td><td class="v">Off</td><td class="v">Off</td>'; fi

notifications:
  email: true
